{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "add-module-exports",
        "transform-regenerator",
        "transform-runtime",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "env": {
        "node": {
            "plugins": [
                [
                    // Set BABEL_ENV=node to activate this plugin
                    "babel-plugin-transform-require-ignore",
                    {
                        "extensions": [".scss"]
                    }
                ]
            ]
        }
    }
}