.module-post
{
    margin: 50px 20px;

    .m-pst-title
    {
        margin: 20px 0;
    }

    .m-pst-time
    {
        margin: 20px 0;
        font-size: 80%;
    }

    .m-pst-content
    {
        margin: 20px 0;
    }
}