@import "./mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

html
{
    height: 100%;
}

body
{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100%;
}

a
{
    color: #1b5b97;
    text-decoration: none;
}

a:hover
{
    color: #2272bd;
    text-decoration: underline;
}

table {
    width: 100%;
    font-size: 90%;

    th, td
    {
        padding: 7px;
        border: 1px solid #f0f0f0;
    }

    thead {
        background-color: #c0c0c0;
    }

    tbody {
        tr:nth-child(2n)
        {
            background-color: #e0e0e0;
        }
    }
}

#App
{
    height: 100%;
}

.module-auth-layout
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.module-layout
{
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    height: 100%;

    .m-lyt-menu-container
    {
    }

    .m-lyt-content-container
    {
        padding: 20px;
        overflow: auto;
        @include box-sizing(border-box);
    }
}

.module-menu
{
    .m-mnu-list
    {
        display: flex;
        flex-wrap: wrap;
        width: 140px;
    }

    .m-mnu-list-item
    {
        list-style: none;
        margin: 1px;
        width: 100%;
        @include box-sizing(border-box);
    }

    .m-mnu-link
    {
        padding: 15px;
        background-color: #00689A;
        display: inline-block;
        color: #f0f0f0;
        text-decoration: none;
        width: 100%;
        @include box-sizing(border-box);

        &:hover {
            background-color: #007cb8;
            color: #ffffff;
        }
    }

    .m-mnu-message
    {
        margin: 20px 15px;
    }
}

.module-content
{
    .m-ctt-title
    {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .m-ctt-section
    {
        margin-bottom: 20px;
    }
}

.module-pagination
{
    display: flex;
    flex-wrap: wrap;
    font-size: 90%;

    .m-pgn-list-item
    {
        list-style: none;
        margin: 0 5px;

        &:first-child
        {
            margin-left: 0;
        }

        &:last-child
        {
            margin-right: 0;
        }
    }
}